.form-row {
	margin: 0px;
}
.form-group {
	margin: 0px;
}
.pull-right {
	float: right;
}
.form-content {
	margin-top: 10px;
}
.form-footer {
	height: 62px;
}
.required {
	color: red;
}
.hint-label {
	padding-left: 32px!important;
}
.hint-label p {
	margin-top: 22px;
	margin-bottom: 2px;
}
label {
	display: inline-block;
	margin: 2px;
	color: #6c7169;
}