.order-table-admin {
	font-size: 11px;
}
.per-page {
	display: inline-flex;
}
.per-page p{
	margin: 18px 10px;
}
.per-page select{
	height: 46px;
    font-size: 14px;
    width: 72px;
}

.per-page input{
	height: 46px;
    font-size: 14px;
}

.label {
  color: white;
  padding: 8px;
}

.success {background-color: #4CAF50;} /* Green */
.info {background-color: #2196F3;} /* Blue */
.warning {background-color: #ff9800;} /* Orange */
.danger {background-color: #f44336;} /* Red */
.other {background-color: #e7e7e7; color: black;} /* Gray */


/*Order Table*/

.order_created_at {
	width: 90px;
}
.order_receivers {
	width: 136px;
}
.order_destination {
	width: 82px;
}
.order_status {
	width: 120px;
}
.order_action {
	width: 100px;
}
.custom-actions button {
	padding: 0px;
}

