<template>
  <div>
    <div @click="showModal(rowData.id)" class="pointer">
      <span class="label-danger">{{ rowData.role.name }}</span>
    </div>

    <modal :name="'change-role'+rowData.id" height="auto" :scrollable="true">
          <div class="card">
            <div class="card-header">
              <div class="row">
                <div class="col-md-6">
                  <h4>Change Role</h4>
                </div>
                <div class="col-md-6">
                  <div class="pull-right"  @click="hideModal(rowData.id)">
                    <i class="fa fa-times" @click="hideModal(rowData.id)"></i>
                  </div>
                </div>
              </div>
            </div>
              <form @submit.prevent="changeRole($event, rowData.id)">
                <div class="card-content form-content">
                  <div class="form-row">
                    <!-- <template>
                      <div class="form-group col-md-12">
                        <label for="name">Role </label>
                         <v-select  
                              label="name" 
                              :options="roles" 
                              :reduce="setRole()" 
                              v-model='formData.role_id'
                              >
                          </v-select>
                      </div>
                    </template> -->

                    <template>
                      <div class="form-group col-md-12">
                        <label for="name">Role <span class="required"> * </span> </label>
                          <br>
                         <!-- <v-select  
                              label="name" 
                              :options="roles" 
                              :reduce="setRole()" 
                              v-model='formData.role_id'
                              >
                          </v-select> -->
                          <select class="form-control" v-model="formData.role_id">
                            <option v-for="role in roles" :value="role.id">{{ role.name }}</option>
                          </select>
                      </div>
                    </template>
                  </div>
                </div>

                <div class="card-footer form-footer">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary" v-html = "submit"></button>
                    </div>
                </div>
              </form>
          </div>
    </modal>
  </div>
</template>

  <script>
    import Roles from '../../helpers/RoleHelper'
    export default {

      props: {
        rowData: {
          type: Object,
          required: true
        },
      },
      data() {
        return {
          submit: 'Update',
          roles : Roles.getAllRoles(),
          formData: { 
            role_id: this.rowData.role.id,
          },
        }
      },
      methods : {
        showModal(id) {
          this.$modal.show('change-role'+id)
        },
        hideModal(id) {
        this.$modal.hide('change-role'+id);
        },
        async changeRole(e,id) {
          let self = this;
          self.submit = 'Please Wait ...';
              e.target.querySelector('button[type=submit]').disabled = true;
              await axios.put('/api/users/'+self.rowData.id,self.formData)
                    .then(response => {
                      self.$toastr.s('Sucessfully Updated Order.');
                      self.submit = 'Update';
                      e.target.querySelector('button[type=submit]').disabled = false;
                      self.$parent.$emit('onChange');
                      self.$modal.hide('change-role'+id)
                    })
                    .catch(error => {
                      self.submit = 'Update';
                      e.target.querySelector('button[type=submit]').disabled = false;
                      self.$toastr.e('Sorry Something went wrong');
                    });
          }
      }
    }
  </script>

  <style scoped>
    .form-footer{
      margin-top: 8px;
    }
      .pointer {
        cursor: pointer;
      }
      .label-danger {
        color: #F04711;
      }

      .v--modal-overlay .v--modal-box {
        overflow: visible!important; 
      }
  </style>