<template>
    <div class="container-fluid">
        <user-table></user-table> 
    </div>
</template>
<script>
    import UserTable from './UserTable'
    import moment from 'moment'
    export default {
        data() {
            return {
            }
        },
        components : {
            'user-table' : UserTable,
        },
    }
</script>


<!-- <template>
    <div class="container-fluid">
        <h1 class="mt-4">User List</h1>
    </div>
</template>

<script>

    export default {
        data() {
            return {
                users: [],
            }
        },
        mounted() {
            axios.get('/api/users').then(res => {
                    this.users = res.data;
                    console.log(res.data);
                }
            );
        },
    }

</script>
 -->