<template>
  <div>
    <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-6">
              <h4>Users</h4>
          </div>                                   
        </div>
      </div>
      <div class="card-content">
        <div class="row">
          <div class="per-page col-md-3">
            <p>Show</p>
            <select v-model="perPage">
              <option :value="10">10</option>
              <option :value="25">25</option>
              <option :value="50">50</option>
              <option :value="100">100</option>
            </select>
            <p>records</p>
          </div>

          <div class="per-page col-md-2">
            <datepicker :value="from" :name="'from'" v-model='from' @selected="selected($event,'from')"></datepicker>  
          </div>

          <div class="per-page col-md-2">
            <datepicker :value="to" :name="'to'" v-model='to' @selected="selected($event,'to')"></datepicker> 
          </div>

          <div class="per-page col-md-2">
            <input type="text" placeholder="Search" @keyup.enter="populateFilter">
          </div>
        </div>
        
        <vue-table :class="'order-table-admin'" :url="url" :fields="fields" :perPage="perPage" :filter="filter" :from="from" :to="to" :paginationInfo="true"></vue-table>  
      </div>
    </div>
  </div>
</template>
<script>
  import Vue from 'vue'
  import VueTable from '../../components/VueTable'
  import DatePicker from '../../components/DatePicker'
  import moment from 'moment'
  import UserRoles from './Role'
  import UserAction from './Action'
  Vue.component('user-table-action', UserAction)
  Vue.component('user-roles', UserRoles)

  export default {
    mounted() {
    },
    data() {
      return {
          url: window.baseUrl+ '/api/users',
          filter: '',
          perPage: 10,
          fields: [
                    {
                      name: 'id',
                      title: 'User Id',
                      sortField: 'id',
                      titleClass: 'center aligned',
                      dataClass: 'center aligned',
                    },
                    {
                      name: 'name',
                      title: 'Name',
                      sortField: 'name',
                      titleClass: 'center aligned',
                      dataClass: 'center aligned',
                    },
                    {
                      name: 'email',
                      title: 'Email',
                      sortField: 'email',
                      titleClass: 'center aligned',
                      dataClass: 'center aligned',
                    },
                    {
                      name: 'last_login_at',
                      title: 'Last Login at',
                      sortField: 'email',
                      titleClass: 'center aligned',
                      dataClass: 'center aligned',
                    },
                    {
                      name: '__component:user-roles',
                      title: 'Roles',
                      titleClass: 'center aligned',
                      dataClass: 'center aligned',
                    }
          ],
          from: moment().subtract(1, 'M').format("YYYY-MM-DD"),
          to: moment().format("YYYY-MM-DD"),
      }
    },
    components : {
      'vue-table' : VueTable,
      'datepicker' : DatePicker
    },
    methods: {
      populateFilter($event) {
        this.filter = $event.target.value;
      },
      selected(event, value) {
      },

    }
  }
</script>
