<template>
	<datepicker
		:value="value"
		:name="name" 
		:id="id"
		:format="format"
		:placeholder="placeholder"
		:calendarClass="calendarClass"
		:inputClass="inputClass"
		:wrapperClass="wrapperClass"
		:mondayFirst="mondayFirst"
		:clearButton="clearButton"
		:clearButtonIcon="clearButtonIcon"
		:calendarButton="calendarButton"
		:calendarButtonIcon="calendarButtonIcon"
		:required="required"
		:typeable="typeable"
		:disabled="disabled"
		@selected="selected" 
		@input="input"></datepicker>
</template>

<script>
	import Datepicker from 'vuejs-datepicker';
	export default {
		components : {
			'datepicker' : Datepicker,
		},
		props: {
			value: {
				type: String|Date,
				default() {
					return new Date();
				}
			},
			name: {
				type: String,
				default: 'date'
			},
			id: {
				type: String,
				default: null
			},
			format: {
				type: String|Object,
				default: 'dd MMM yyyy'
			},
			placeholder: {
				type: String,
				default: 'Enter Date'
			},
			calendarClass: {
				type: String|Object,
				default: ''
			},
			inputClass: {
				type: String|Object,
				default: null
			},
			wrapperClass: {
				type: String|Object,
				default: null
			},
			mondayFirst: {
				type: Boolean,
				default: false
			},
			clearButton: {
				type: Boolean,
				default: false
			},
			clearButtonIcon: {
				type: String,
				default: 'fa fa-times'
			},
			calendarButton: {
				type: Boolean,
				default: false
			},
			calendarButtonIcon: {
				type: String,
				default: 'fa fa-calendar'
			},
			required: {
				type: Boolean,
				default: false
			},
			typeable: {
				type: Boolean,
				default: false
			},
			disabled: {
				type: Boolean,
				default: false
			},
		},
		methods: {
			selected(value) {
				this.$emit('selected', value);
			},
			input(value) {
				this.$emit('input', value);
			},


		}

	}
</script>