<template>
    <div>
        <nav-bar></nav-bar>
        <div id="layoutSidenav">
            <sidebar></sidebar>
            <div id="layoutSidenav_content">

                <router-view></router-view>
            </div>
        </div>
    </div>
</template>
<script>
    import nav from '../layouts/Nav';
    import Sidebar from '../layouts/Sidebar';

    export default {
        data() {
            return {
                menus: [],
            }
        },
        mounted() {
            axios.get('/api/menus').then(res => {
                    this.menus = res.data;
                }
            );
        },
        components: {'nav-bar': nav, Sidebar}
    }
</script>

