<template>
	<div id="table-wrapper" class="ui-container">
	  <vuetable ref="vuetable"
	    :api-url="url"
	    :fields="fields"
	    pagination-path=""
      :css="css.table"
      :per-page = "perPage"
      :append-params="moreParams"
      @vuetable:pagination-data="onPaginationData"
      @onDelete = "refresh"
      @onChange = "refresh"
	  ></vuetable>
	  	<div v-show="paginationInfo" class="vuetable-pagination ui basic segment grid row">
        <div class="col-md-6">
  	      <vuetable-pagination-info ref="paginationInfo">
  	      	
  	      </vuetable-pagination-info>
        </div>
        
        <div class="col-md-6">
  	      <vuetable-pagination ref="pagination"
            :css="css.pagination"
  	        @vuetable-pagination:change-page="onChangePage"
  	      ></vuetable-pagination>
        </div>
    	</div>
	</div>
</template>

<script>
import Vuetable from 'vuetable-2/src/components/Vuetable'
import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
import VuetablePaginationInfo from 'vuetable-2/src/components/VuetablePaginationInfo'
import moment from 'moment'

export default {
  mounted() {
    this.$nextTick (() => {
        this.moreParams.from = this.from;
        this.moreParams.to = this.to;
        if(this.customerId != 0) {
          this.moreParams.customerId = this.customerId;
        }
    });
  },
  components: {
    Vuetable,
    VuetablePagination,
   	VuetablePaginationInfo
  },
  props: {
    fields: {
      type: Array,
    },
    url: {
      type: String,
    },
    perPage: {
      default: 15,
      type: Number,
    },
    customerId: {
      default: 0,
      type: Number,
    },
    filter: {
      default: null,
      type: String,
    },
    from: {
      type: String|Date,
    },
    to: {
      type: String|Date,
    },
    paginationInfo: {
      type: Boolean,
      default: true
    },
  },
  data() {
    return {
      moreParams: {
        filter: null,
        from: moment().subtract(1, 'M').format("YYYY-MM-DD"),
          to: moment().format("YYYY-MM-DD"),
        customerId:null
      },
      css: {
        table: {
          tableClass: 'table table-striped table-bordered table-hovered',
          loadingClass: 'loading',
          ascendingIcon: 'fa fa-arrow-up',
          descendingIcon: 'fa fa-arrow-down',
          handleIcon: 'glyphicon glyphicon-menu-hamburger',
        },
        pagination: {
          infoClass: 'pull-left',
          wrapperClass: 'vuetable-pagination pull-right',
          activeClass: 'btn-primary',
          disabledClass: 'disabled',
          pageClass: 'btn btn-border',
          linkClass: 'btn btn-border',
          icons: {
            first: '',
            prev: '',
            next: '',
            last: '',
          },
        }
      }
    }
  },
  methods : {
  	onPaginationData (paginationData) {
      this.$refs.pagination.setPaginationData(paginationData)
      this.$refs.paginationInfo.setPaginationData(paginationData)
    },
    onChangePage (page) {
      this.$refs.vuetable.changePage(page)
    },
    async refresh() {
      await this.$refs.vuetable.refresh();
    }
  },
  watch: {
    perPage: function(value) {
        this.$nextTick(() => this.refresh());
    },
    filter: function(value) {
      this.moreParams.filter = this.filter,
      this.$nextTick(() => this.refresh());
    },
    from: function(value) {
      this.moreParams.from = moment(this.from).format("YYYY-MM-DD"),
      this.$nextTick(() => this.refresh());
    },
    to: function(value) {
      this.moreParams.to = moment(this.to).format("YYYY-MM-DD"),
      this.$nextTick(() => this.refresh());
    },
    customerId: function(value) {
      this.moreParams.customerId = this.customerId,
      this.$nextTick(() => this.refresh());
    }
  }
}
</script>