<template>
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <router-link :to="'/'" :class="'navbar-brand'">Demo Project</router-link>
        <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i>
        </button
        >
    </nav>
</template>
