<template>
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <template v-for="(index) in menus">
                        <router-link :to="{name:index.to}" :class="'nav-link'">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>

                            {{index.name}}
                        </router-link>
                    </template>
                </div>
            </div>
        </nav>
    </div>
</template>
<script>

    export default {
        data() {
            return {
                menus: [],
            }
        },
        mounted() {
            axios.get('/api/menus').then(res => {
                    this.menus = res.data;
                }
            );
        },
    }

</script>
